/* body{
    background: gainsboro;
} */
h1{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

p{
 display: flex;
    justify-content: center;   
}
.list{
    display: flex;
    justify-content: center;
}
.logform{
    width: 100%;
    max-width: 21em;
    margin-top: 3em !important;
    margin: auto;
    display: flex;
    justify-content: center;
}
.form{
   display: flex;
    justify-content: center;  
}

.completebtn{
    background-color: greenyellow !important;
}

.complete{
    text-decoration: line-through;
}

.signbtn{
    display: flex;
    margin: 1rem;
    justify-content: space-around;
}

.homeCard{
    width: 100%;
    margin-top: 3em !important;
    margin: auto;
    display: flex;
    justify-content: center; 
}